@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
}

#descuento{
    font-size: 15px;
    background-color:rgba(28, 209, 176, 1);
    height: 23px;

}
.qq{
    position: absolute;
     top: -15px;
     left: 20px;
     color: black;

}


header{
    background: rgba(0, 102, 159, 1);

}

img{
    display: inline-block;
    padding-left: 10px;
}
 h1{
     display:inline-block;
     font-size: 30px;
    padding-left:26px;
    position: relative;
    bottom: 18px;
    color: white
 }

 nav{
    background: rgba(0, 29, 45, 1);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
 }

 a{
     margin-right: 20px;
     color: white;
     font-size: 16px;
     text-decoration: none;
     
 }

 form{
   background: #00669F;
   color:white;
   margin:0 auto;
   width: 954px;
   height: 832px;
   border-radius: 40px;
 }

 h2{
     text-align: center;
     font-size:40px;

 }

 form p{
    text-align: center;
    margin-bottom: 20px;
}

 fieldset{
     width: 343px;
     display: inline-block;
     border: none;
     position: absolute
 }


 input{
       width: 100%;
}


 .margenField{
     margin-left: 124px;
     margin-right: 23px;
     position: relative;
 }
 label{
     font-size:20px;
 }

 #nombre{
     margin-top: 15px;
     height: 63px;
     margin-bottom: 30px;
     border-radius: 10px;
 }

 #fecha{
     margin-top: 30px;
     height: 63px;
     border-radius: 10px;
 }

 #textarea{
     height: 307px;
     margin-top: 30px;
     border-radius: 10px;
     font-size:20px;
     margin-bottom: 45px;
     border-radius: 10px;
 }

 .boton{
     width: 466px;
     height: 87px;
     margin-left: 244px;
     background-color:rgba(28, 209, 176, 1);
     font-size: 40px;
     font-weight: 700;
     border-radius: 20px;
     border-width: 0px;
 }



 footer{
     margin-top: 40px;
     background: #00669F;
     color: white;
     text-align: center;
     height: 61px;
     position: absolute;
     width: 1440px;
 }

.footer{
    margin-top: 21px;
    position: relative;
    font-size: 16px;
}

.especie1{
    display: block;
    margin-bottom: 15px;

}

#especie{
    height: 63px;
    width: 343px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.agregarFoto{
    margin-bottom: 35px;
   
}

#imagen{
    height: 32px;
    width: 342px;
    background-color: #CECECE;
    border-radius: 5px;
    display: block;
    margin-top: 50px;
    background: #00669F;
    margin-bottom: 46px;
}


fieldset.chack label{
    display: block;
   

}
fieldset.chack input{
    margin-right: 20px;
    height: 20px;
    width: 24px;
    margin-top: 13px;

}

div p{
    font-size: 20px;
    color: white;
    text-align: left;
    display: inline-flex;
    margin-top: 15px;
    border-color: white;
    margin-bottom: 0px;
}

.linea{
    height: 1px;
    width: 343px;
    background-color: white;
    margin-top: 15px;
}

#heroe{

    margin-top: 12px;

}

input[type="button"]:hover{
    background-color: rgba(0, 29, 45, 1);
    color: white;
}

.margenField input:focus{
    background-color: rgba(175, 249, 254, 1);
}

